@import './variables/_colors.scss';
@import './variables/_variables.scss';

@import './components/_landing-page.scss';
@import './pages/_videos.scss';
@import './pages/_webgl.scss';
@import './pages/_magazine.scss';

body {
    width: 100%;
    height: 100%;
    font-family: $main-font-family;
    font-weight: 300;
    display: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#home-button {
    position: fixed;
    width: $home-button-bar-width;
    height: 100%;
    background-color: black;
    z-index: 1;
    color: white;
    text-align: center;
    cursor: pointer;
    &::before {
        font-size: 20pt;
        margin: 0;
    }
}

.overflow-y-visible {
    overflow-y: visible;
}

::-scrollbar { 
    display: none; 
}

::-webkit-scrollbar { 
    display: none; 
}

.container {
    min-width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    background-color: #d3d3d3;
    padding: 0;
}

.col {
    padding: 0;
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 10px 10px 30px black;
    //-webkit-transition: all 1s ease, background-color 0.3s;
    transition: all 1s ease, background-color 0.3s;
    background-color: $main-bg-color;
    @media (max-device-width : 700px) {
        &-active {
            background-color: $col-hover-color;
        }
    }
    /*@media (min-device-width : 701px) {
        &:hover {
            background-color: $col-hover-color;
        }
    }*/
    &-active {
        //height: 200%;
        background-color: $col-hover-color;
    }
}

#fan-container {
    min-width: 100%;
}

#fan-row {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding-left: $home-button-bar-width;
}

.thumbnail {
    margin-top: $icon-margin-top;
    overflow: hidden;
    img {
        width: $icon-width-big;
        transition: all 1s ease, background-color 0.3s;
    }
}

.col-1 {
    .thumbnail img {
        width: $icon-width-small;
    }
}

#fixed-on-top {
    margin-top: 10px;
    position: fixed;
}

img {
    //-webkit-user-select: none;
    user-select: none;
}

.thumb-placeholder {
    visibility: hidden;
    height: 220px;
}

.info {
    min-height: 80%;
    display: none;
    flex-basis: 100%;
    overflow: hidden;
    margin: 40px;
    
    &.align-left {
        text-align: left;
    }

    &.align-right {
        text-align: right;
    }
    &-text {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &-headline {
        font-family: $main-font-family;
        font-weight: bold;
        font-size: 3em;
    }
    .subpage-link img{
        width: 300px;
        height: 300px;
        transition-duration: 0.5s;
        &:hover {
            width: 400px;
            height: 400px,
        }
    }
}

.is-visible {
    display: block;
}

.transition {
    &:hover {
        text-decoration: none;
    }
}

.no-wrap {
    white-space: nowrap;
}
