body {
    overflow: hidden;
}

.col {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    box-shadow: 10px 10px 30px black;
    -webkit-transition: all 1s ease, opacity 0.3s;
    transition: all 1s ease, opacity 0.3s;
}

#fan-container {
    min-width: 100%;
}

#fan-row {
    min-height: 100%;
}

#first-column {
    background-color: lightgrey;
}

#second-column {
    background-color: lightgrey;
}

#third-column {
    background-color: lightgrey;
}

#fourth-column {
    background-color: lightgrey;
}

.is-hovered {
    opacity: 0.8;
}

.thumbnail {
    width: 80px;
    height: 80px;
    top: 100px;
    position: absolute;
}

img {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.info {
    visibility: hidden;
    flex-basis: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.align-left {
    margin-left: 40px;
    text-align: left;
}

.align-right {
    margin-right: 40px;
    text-align: right;
}

.info-headline {
    font-weight: bold;
    font-size: 3em;
}

.is-visible {
    visibility: visible;
}