@import './variables/_colors.scss';
@import './variables/_variables.scss';

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: $main-font-family;
    font-weight: 300;
}

.overflow-y-visible {
    overflow-y: visible;
}

::-webkit-scrollbar { 
    display: none; 
}

.container {
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

#landing-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $main-bg-color;
}

#landing-page-content {
    color: $main-font-color;
    font-family: $main-font-family;
    font-style: normal;
    font-size: 30pt;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    user-select: none;
}

#landing-page-image {
    margin-bottom: 30px;
}

#maxon {
    color: $brand-color;
}

.col {
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 10px 10px 30px black;
    //-webkit-transition: all 1s ease, background-color 0.3s;
    transition: all 1s ease, background-color 0.3s;
    background-color: $main-bg-color;
    @media (max-device-width : 700px) {
        &-active {
            background-color: $col-hover-color;
        }
    }
    @media (min-device-width : 701px) {
        &:hover {
            background-color: $col-hover-color;
        }
    }
    &-active {
        height: 200%;
        background-color: $col-hover-color;
    }
}

#fan-container {
    min-width: 100%;
}

#fan-row {
    min-height: 100%;
}

.thumbnail {
    margin-top: $icon-margin-top;
    overflow: hidden;
    img {
        width: 80px;
        transition: all 1s ease, background-color 0.3s;
    }
}

.col-1 {
    .thumbnail img {
        width: 50px;
    }
}

#fixed-on-top {
    margin-top: 10px;
    position: fixed;
}

img {
    //-webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.thumb-placeholder {
    visibility: hidden;
    height: 220px;
}

.info {
    min-height: 80%;
    visibility: hidden;
    flex-basis: 100%;
    overflow: hidden;
    white-space: nowrap;
    
    &.align-left {
        margin-left: 40px;
        text-align: left;
    }

    &.align-right {
        margin-right: 40px;
        text-align: right;
    }
}


.info-headline {
    font-family: $main-font-family;
    font-weight: bold;
    font-size: 3em;
}

.is-visible {
    visibility: visible;
}



#first-column {
}

#second-column {
}

#third-column {
}

#fourth-column {
}