@import './variables/_colors.scss';
@import './variables/_variables.scss';

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

#landing-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $main-bg-color;
}

#landing-page-content {
    color: $main-font-color;
    font-family: $main-font-family;
    font-style: normal;
    font-size: 30pt;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    user-select: none;
}

#landing-page-image::after {
    content: "\A";
    white-space: pre;
  }

.col {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    box-shadow: 10px 10px 30px black;
    -webkit-transition: all 1s ease, background-color 0.3s;
    transition: all 1s ease, background-color 0.3s;
    background-color: $main-bg-color;
    &:hover {
        background-color: $col-hover-color;
    }
    &-active {
        height: 200%;
    }
}

#fan-container {
    min-width: 100%;
}

#fan-row {
    min-height: 100%;
}

.thumbnail img {
    width: 70px;
    height: 70px;
    top: 100px;
}

#fixed-on-top {
    top: 0px;
    margin-top: 10px;
    position: fixed;
}

img {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.info {
    visibility: hidden;
    flex-basis: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.align-left {
    margin-left: 40px;
    text-align: left;
}

.align-right {
    margin-right: 40px;
    text-align: right;
}

.info-headline {
    font-family: $main-font-family;
    font-weight: bold;
    font-size: 3em;
}

.is-visible {
    visibility: visible;
}



#first-column {
}

#second-column {
}

#third-column {
}

#fourth-column {
}