.video {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    min-width: 100%;
    height: 75%;
    &-thumb {
        width: 25%;
        height: 100%;
        background-size: cover;
        background-position: center;
        text-align: center;
        z-index: 2;
        &-play{
            width: 100px;
            height: 100px;
            margin-top: 40px;
            opacity: 0.5;
        }
    }
    &-player {
        width: 100%;
        height: 100%;
    }
}

#video-thumb-container {
    display: flex;
    min-width: 100%;
    height: 25%;
}

#video-container {
    min-width: 100%;
    background-color: black;
}

#video-thumb1 {
    background-image: url('https://img.youtube.com/vi/DbF91ZtpGGc/0.jpg');
}

#video-thumb2 {
    background-image: url('https://img.youtube.com/vi/KROef3M9gjk/0.jpg');
}

#video-thumb3 {
    background-image: url('https://img.youtube.com/vi/65wblLv1XDk/0.jpg');
}

#video-thumb4 {
    background-image: url('https://img.youtube.com/vi/EFO9EiXFG4c/0.jpg');
}

#video-overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: 0.4s;
}