#video-thumb-container {
    display: flex;
    min-width: 100%;
    height: 25%;
}

#video-container {
    display: flex;
    min-width: 100%;
    height: 75%;
}

.video-thumb {
    width: 25%;
    height: 100%;
    background-color: black;
    background-image: url('./../img/thumb.png');
    background-size: auto;
    background-position: center;
    text-align: center;
}

.video-thumb-play {
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

.video {
    min-width: 100%;
    min-height: 100%;
    background-image: url('./../img/thumb.png');
    text-align: center;
}

.video-info {
    margin-left: 50px;
    color: white;
    position: absolute;
}

.video-title {
    margin-top: 200px;
    font-size: 20pt;
    font-weight: bold;
}

.video-description {
    margin-top: 50px;
    font-size: 15pt;
}

.video-play {
    width: 200px;
    height: 200px;
    margin-top: 200px;
}

.fullscreen-video {
    display: none;
}